html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
}
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;  
    height: 100vh; 
    overflow: hidden;      
    background: #fff;
    color: #000;
    z-index: 9999;         
    font-family: 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;      
    gap: 10px;
    opacity: 1;
    transition: opacity 0.8s ease;

}
   
.loading-line {
    white-space: nowrap;   
    font-size: 3vw;         
    margin: 0;   
    padding: 0;
   
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
}
.crawl-container {
  perspective: 800px;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: black;
  color: yellow;
  font-family: 'Arial', sans-serif;
}

.crawl {
  position: absolute;
  top: 100%;
  width: 100%;
  transform-origin: 50% 100%;
  animation: crawl 80s linear forwards;
}

@keyframes crawl {
  0% {
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -300%;
    transform: rotateX(25deg) translateZ(-400px);
  }
}
#contentContainer{
    position: relative;
    width: 100%;
    min-width: 200vh;
    
}
#title {
    opacity: 0;
    position: absolute; 
    top: 40px;
    left: 40%;
    transform: translateY(-50%,0);
    font-size: 40px;
    z-index: 1000;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }

#momets-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2px;
    /* min-height: 200vh; */
    max-width: 50vw;
    margin: 0 auto;
}
.text-cont {
    display: inline-block;
    padding: 5px;
    font-size: 50px;
    font-weight:  400;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
#intro {
    display: inline-block;
    padding: 5px;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
.text-cont:hover, #intro:hover {
    transform: scale(1.1);
}
.text-cont{
    padding: 5px;
    font-weight: 400;
}
#about {
    display: none;
    position:  absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 200vh;
    z-index: 200;
    padding: 100px;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    justify-content:  flex-start;
    /* padding-top: 50px; */
    box-sizing: border-box;
    
}

#inner {
    margin-top: 80px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}


#intro{
    display: block;
    font-size: 34px;
    line-height: 1.5;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    text-transform: none;
}
.intro-block{
    margin-bottom: 20px;
    text-indent: 30px;
    margin-bottom: 40px;
}
.intro-text span{
    
    display: inline-block;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}


.image{
   
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);  
    pointer-events: none; 
    z-index: 10;

}
.text-cont {
    position: relative;
}
 